<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
    </div>
    <div class="user-intro center-align">
        <h4 class="hidden">一个<span id="js-rotating">勤奋, 上进, 求索, 创新</span>的爱码士</h4>
    </div>
    <div class="user-content center-align">
        <p>
            心中本没有路，用双手敲写康庄大道。
        </p>
        <p>
            知之甚少，学之甚多，生命不休，求索不止。
        </p>
    </div>
    <div>
        <span class="my-linkedin">我的领英(LinkedIn)</span>
        <div class="linkedin-tag center-align">
            <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="zh_CN" data-type="horizontal" data-theme="light" data-vanity="琦雲-黄-a4b9b9164"><a class="LI-simple-link" href='https://cn.linkedin.com/in/%E7%90%A6%E9%9B%B2-%E9%BB%84-a4b9b9164?trk=profile-badge'>黄琦雲</a></div>
        </div>
    </div>
</div>
